<li> @Html.ActionLink("List of Products", "Index", "Products")</li>
<li> @Html.ActionLink("List of Suppliers", "Index", "Suppliers")</li>
<li> @Html.ActionLink("Create Supplier", "Create", "Suppliers")</li>
<li> @Html.ActionLink("Create Product", "Create", "Products")</li>
